.nike {
    width: 90px;
    height: 80px;
   border-radius: 50%;
  
}
.logo-contact {
    display: flex;
    justify-content:center;
  gap: 70px;
  transition: transform 0.3s ease-in-out;   
}
@media (max-width: 768px) {
.logo-contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
}
.nike {
  width: 100px;
}
.add-admin {
  max-width: 250px;
  margin: 0 auto;
}
.contact-nous {
  font-size: 20px !important;
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
}
.add-img {
  max-width: 270px !important;
  margin: 0 auto;
   transform: translateX(-60px);  
}
.map-res {
 
  max-width: 250px !important;
}
.map-contact {
  max-width: 270px;
  margin: 0 auto;
  transform: translateY(-100px);

}
}
.logo- contact:hover {
   transform: scale(1.1); ;
   
}
.title-contact {
    color: #f0f0f0;
}

.text-start {
    font-size: 80px;  /* Taille de la police */
    font-weight: bold;
    display: flex;
    background: linear-gradient(90deg, #0057b7 30%, #1089ff 70%); /* Dégradé bleu */
   
}
.map-contact {
    color: #f0f0f0;
    background-color: #1089ff;
}
.map-contact:hover {
    color: #1089ff;
    background-color: #f0f0f0;
}

.test-carroussel {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin-top: 3%;
}

.image-parent {
  width: 400%; /* pour 4 images */
  height: 100%;
  display: flex;
  animation: mesImages 12s infinite linear;
}

.image-30 {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

@keyframes mesImages {
  0% { transform: translateX(0); }
  100% { transform: translateX(-300vw); } /* juste 3 translations pour 4 images */
}

